<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 로그 출력 패턴 (MDC 기반 requestId 포함) -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestID}] %-5level %logger{36} - %msg%n" />

    <!-- 콘솔 로그 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
